<script type='text/javascript' src='http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js'></script>
<script type="text/javascript" src="http://cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>



<div class="jumbotron">
  <h2>打开Preview App 或 使用集成Preview SDK的客户端扫描下面的二维码即可开始预览</h2>
</div>

<div id="qrcode"></div>

<script>
  var t = jQuery;
  $.ajax({
    url: "/ipAddressPort"
  }).done(function (data) {
    t('#qrcode').qrcode(data);
  });
</script>

<div class="jumbotron">
  <h2>使用天猫/手淘客户端 扫描下面的二维码即可开始浏览</h2>
</div>
<div id="tmallqrcode"></div>

<script>
  var t = jQuery;
  $.ajax({
    url: "/tmallpreview"
  }).done(function (data) {
    t('#tmallqrcode').qrcode(data);
  });
</script>